<!-- views/partials/footer.ejs -->

<p class="text-center text-muted">
  -----<br>
  <a href="https://github.com/NicoHinderling/Club-Mix-Creator">Github Repo</a>
</p>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="js/createmix.js"></script>