<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h3>404.... You seem lost! </h3>
            <div class="text-center">
                <a href="/" class="btn btn-default btn-sm">Lets go home </a>
            </div>
        </div>
    </div>
</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>