<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/audiojs.css" media="screen">
  </head>
  <body>
    <h3> The mix you're looking for doesn't exist... </h3>
    <a href="/"><button id="backProfile" class="btn btn-primary">Back to profile</button></a>
    <a href="/createmix"><button id="anotherMix" class="btn btn-primary">Create a mix</button></a>
  </body>
</html>
