<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<script   src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
<script src="/js/mixList.js"></script>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <div class="text-center">
            <a href="/createmix" class="btn btn-default btn-sm">Create a new mix</a>
            <h1> </h1> <!-- What have I become -->
        </div>
        <div class="col-sm-12">
            <div class="well">
                <h3> Mixes </h3>
                <ul id="profileUserMixes"></ul>
                <br>
            </div>
        </div>
                <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
            <div class="well">
                <h3><span class="fa fa-user"></span> User Info</h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </div>
        </div>
    </div>

</div>
</body>
</html>